<nav class="hidden-xs-down bg-faded sidebar">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashbord</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/produit" routerLinkActive="active">Produit</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="user" routerLinkActive="active">Utilisateur</a>
          </li>
        </ul>
 </nav>